@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-ubuntu  antialiased;
	}
}

@layer components {
	.rounded-div {
		@apply mx-auto w-full max-w-6xl rounded-2xl border border-secondary bg-primary px-2 shadow-xl;
	}
}

:root {
	@apply bg-primary text-primary;
}

.dark {
	--color-bg-primary: #2d3748;
	--color-bg-secondary: #283141;
	--color-text-primary: #dbdbdb;
	--color-text-secondary: #e2e8f0;
	--color-text-accent: #81e6d9;
	--color-bg-input: #4a5361;
	--color-bg-button: #81e6d9;
}

.light {
	--color-bg-primary: #ffffff;
	--color-bg-secondary: #edf2f7;
	--color-text-primary: #2d3748;
	--color-text-secondary: #4a5568;
	--color-text-accent: #2b6cb0;
	--color-bg-input: #edf2f7;
	--color-bg-button: #2b6cb0;
}
